# ==========================================
# PostgreSQL
# ==========================================
POSTGRES_PORT=5432
POSTGRES_DB=swampert
POSTGRES_HOST=localhost
POSTGRES_USER=swampert_admin
POSTGRES_PASSWORD=<swampert_admin_password>

# ==========================================
# URLs por rol
# ==========================================
POSTGRES_APP_URL="postgres://swampert_app:<password>@localhost:5432/swampert"
POSTGRES_ADM_URL="postgres://swampert_admin:<password>@localhost:5432/swampert"
