# ==========================================
# PostgreSQL Config
# ==========================================
POSTGRES_DB=swampert
POSTGRES_USER=swampert

POSTGRES_PORT=5432
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=<secure_password>
POSTGRES_URL="postgres://swampert:password@localhost:5432/swampert"